/**
*启动页
*/
.splash{
	background: url(../images/splash.jpg) no-repeat;
	background-size: 100%;
	text-align: center;
}
.slogan{
	display: block;
	position: absolute;
	top: 35%;
	width: 100%;
}
.logo{
	padding-top: 130%;
	width: 30%;
}

/**
*登录页
*/
.inputList ul::before, .inputList ul::after{
	background: transparent;
}
.bottomBorder{
	border-bottom: 1px solid #ccc!important;
}
.problemLink{
	height: 50px;
}
.sign{
	position: absolute;
	width: 100%;
}
.signBtn{
	width: 150px;
	border: none;
	background: #ccc;
	color: #fff;
	margin: 0 auto;
}
.OR{
	padding-top: 150px;
	text-align: center;
}
.orBox{
	text-align: center;
}
.orBox a{
	display: block;
	width: 33.33%;
	float: left;
	font-size: 20px;
}

/**
*注册页
*/
.areaCode{
	padding-right: 20px;
}

/**
*验证页
*/
.verify{
	font-weight: bold;
	font-size: 18px;
}
.paddingRight{
	padding-right: 15px;
}
.resendBtn{
	border: none;
	background: #ccc;
	color: #fff;
}

/**
*主页
*/
.tab-link{
	line-height: 15px;
	padding: 0 10px;
	text-align: center;
}

/*改变搜索栏的placeholder颜色*/
/*input::input-placeholder{
	color: #dcdcdc !important;
}
input::-webkit-input-placeholder{
	color: #dcdcdc !important;
}
input::-moz-placeholder{
	color: #dcdcdc !important;
}
input::-ms-input-placeholder{
	color: #dcdcdc !important;
}*/

/*图片轮播touchSlider插件*/
/* main_image */
.main_visual{height:190px;overflow:hidden;position:relative;}
.main_image{height:190px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:190px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:190px;}
.main_image li span{display:block;width:100%;height:190px}
.main_image li a{display:block;width:100%;height:190px}
.main_image li .img_1{background:url('../images/1.jpeg') center top no-repeat;background-size: 100%;}
.main_image li .img_2{background:url('../images/1.jpeg') center top no-repeat;background-size: 100%;}
.main_image li .img_3{background:url('../images/1.jpeg') center top no-repeat;background-size: 100%;}
.main_image li .img_4{background:url('../images/1.jpeg') center top no-repeat;background-size: 100%;}
.main_image li .img_5{background:url('../images/1.jpeg') center top no-repeat;background-size: 100%;}
/*图片下面的按钮，以及左右按钮*/
div.flicking_con{position:absolute;top:160px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}


/*facebook-card*/
.card-header{
	height: 54px;
}
.fb{
	float: left;
	width: 216px;
}
.followBtn{
	width: 64px;
	float: right;
	margin-top: 3px;
	color: #ea4027;
	border-color: #ea4027;
}
h3{
	margin: 0;
}
.facebook-card .card-header {
display: block;
padding: 10px;
}

.facebook-card .facebook-avatar {
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}
.facebook-avatar img{
	width: 34px;
	height: 34px;
}
.facebook-card .facebook-name {
margin-left: 44px;
font-size: 14px;
font-weight: 500;
}
.facebook-card .facebook-date {
margin-left: 44px;
font-size: 13px;
color: #8e8e93;
}
.facebook-card .card-footer {
background: #fafafa;
}
.facebook-card .card-footer a {
color: #81848b;
font-weight: 500;
}
.facebook-card .card-content img {
display: block;
width: 100%;
padding-bottom: 10px;
}
.facebook-card .card-content-inner {
padding: 15px 10px;
}


/*********
*字体颜色
*********/
.redColor{
	color: #ea4027;
}
.greyColor{
	color: #959595;
}
.whiteColor{
	color: #ffffff;
}
/*********
*字体大小
*********/
.font20{
	font-size: 20px;
	line-height: 16px;
}
.font16{
	font-size: 16px;
}
.font11{
	font-size: 11px;
}
/*********
*背景颜色
*********/
.redBGColor{
	background: #ea4027;
}
.whiteBGColor{
	background: #ffffff;
}
/*********
* 浮  动
*********/
.rightFloat{
	float: right;
}
.leftFloat{
	float: left;
}
.clearFloat{
	clear: both;
}
.Center{
	text-align: center;
}