/*------------------nearby.html-------------------*/
/*Navbar CSS*/
.navbar{
	background: #ea4027;
	color: #ffffff;
}
.navbar i{
	color: #ffffff;
}
/*Card CSS*/
.card-header{
	height: 54px;
}
.fb{
	float: left;
	width: 77%;
}
.followBtn{
	width: 23%;
	float: left;
	margin-top: 3px;
	color: #ea4027;
	border-color: #ea4027;
}
h3{
	margin: 0;
}
/*----我是华丽的分割线----*/
.facebook-card .card-header {
display: block;
padding: 10px;
}
.facebook-card .facebook-avatar {
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}
.facebook-avatar img{
	width: 34px;
	height: 34px;
}
.facebook-card .facebook-name {
margin-left: 44px;
font-size: 14px;
font-weight: 500;
}
.facebook-card .facebook-date {
margin-left: 44px;
font-size: 13px;
color: #8e8e93;
}
.facebook-card .card-footer {
background: #fafafa;
}
.facebook-card .card-footer a {
color: #81848b;
font-weight: 500;
}
.facebook-card .card-content img {
display: block;
}
.facebook-card .card-content-inner {
padding: 15px 10px;
}
.popover {
 	width: 200px;
}
/*Toolbar CSS*/
.toolbar{
	text-align: center;
}
.tab-link{
	line-height: 15px;
	padding: 0 10px;
}
.redColor{
	color: #ea4027;
}
.greyColor{
	color: #959595;
}
.font20{
	font-size: 20px;
	line-height: 16px;
}
.font16{
	font-size: 16px;
}
.font11{
	font-size: 11px;
}
/*Popover CSS*/
.list-block a{
	color: #ea4027 !important;
}

/*-----------------essayedit.html-------------------*/
/*Navbar CSS*/
.nav2{
	background: #ccc !important;
	font:bold 20px;
	color: #000000;
}
.nav2 i{
	color: #000000;
}
.essayPage{
	padding-bottom: 0 !important;
	background: #ffffff;
}
.essayList{
	margin: 0;
}
.essayList ul::after, .sayText ::after{
	background-color: #ffffff!important;
}{
	background-color: #ffffff;
}
.toolLink{
	width: 50% !important;
}
.toolLink a{
	padding-top: 8%;
}
.inputCamera{
	width: 64px;
	height: 64px;
	margin: 15px;
	background: url(../images/photo.png) no-repeat;
	background-size: 90%;
}
.Camera{
    width: 64px;
    height: 64px;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    opacity: 0; 
}
.showGPS{
	color: #000000;
}
.icon-back{
	width: 14px !important;
	height: 17px !important;
	margin-left: 15px; 
	background-image: url(../images/back.png) !important;
}