<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>MYAPP</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/wuyiwen.css">
  </head>
  <body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Views -->
    <div class="views">
      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="menu-Assortment.html" class="external grayLeft">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </a>
            </div>
            <div class="center">早餐</div>
            <div class="right">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Page, "data-page" contains page name -->
          <div data-page="index" class="page">
            <!-- Scrollable page content -->
            <div class="page-content" style="margin-top:10px">
              
              <!-- 早餐分类可折叠列表 -->
              <div class="accordion-item" id="accordItem" style="background-color:white;">
                
                <div class="row hotTags">
                    <div class="col-33">
                      <a href="#" class="button color-gray">鸡蛋</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">吐司</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">三明治</a>
                    </div>
                </div>
                <div class="row hotTags">
                    <div class="col-33">
                      <a href="#" class="button color-gray">鸡蛋</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">吐司</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">三明治</a>
                    </div>
                </div>
                <div class="accordion-item-content">
                  <div class="row hotTags">
                    <div class="col-33">
                      <a href="#" class="button color-gray">鸡蛋</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">吐司</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">三明治</a>
                    </div>
                  </div>
                  <div class="row hotTags">
                    <div class="col-33">
                      <a href="#" class="button color-gray">鸡蛋</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">吐司</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">三明治</a>
                    </div>
                  </div>
                  <div class="row hotTags">
                    <div class="col-33">
                      <a href="#" class="button color-gray">鸡蛋</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">吐司</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">三明治</a>
                    </div>
                  </div>
                  <div class="row hotTags" style="padding-bottom:10px">
                    <div class="col-33">
                      <a href="#" class="button color-gray">鸡蛋</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">吐司突突</a>
                    </div>
                    <div class="col-33">
                      <a href="#" class="button color-gray">三明治</a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item-toggle lookAll">
                  <div class="row" style="padding-top:10px">
                    <div class="col-30"></div>
                    <div class="col-40" style="text-align:center" id="seeAll">查看全部&nbsp;
                      <i class="fa fa-chevron-down" aria-hidden="true" style="color:#ea4027" id="faDown"></i>
                    </div>
                    <div class="col-30"></div>
                  </div>
                </div>
              </div>
              <!-- 早餐推荐列表 -->
              <div class="list-block">
                <ul>
                  <li class="list-content">
                    <a href="menu-content.html" class="external">
                      <div class="row">
                         <img src="images/tusi.jpg" width="100%">
                      </div>
                    </a>
                    <div class="row">
                      <div class="col-10"></div>
                      <div class="col-50">
                        <p>黄金煎吐司</p>
                        <p class="littleTag"># <a href="#">鸡蛋</a>&nbsp;&nbsp;<a href="#">吐司</a></p>
                      </div>
                      <div class="col-30 lookBtn">
                        <a href="menu-content.html" class="external button button-round color-red">
                          查看菜谱
                        </a>
                      </div>
                      <div class="col-10"></div>
                    </div>
                  </li>
                  <li class="item-divider"></li><!--分割-->
                  <li class="list-content">
                    <a href="menu-content.html" class="external">
                      <div class="row">
                         <img src="images/tusi.jpg" width="100%">
                      </div>
                    </a>
                    <div class="row">
                      <div class="col-10"></div>
                      <div class="col-50">
                        <p>黄金煎吐司</p>
                        <p class="littleTag"># <a href="#">鸡蛋</a>&nbsp;&nbsp;<a href="#">吐司</a></p>
                      </div>
                      <div class="col-30 lookBtn">
                        <a href="menu-content.html" class="external button button-round color-red">
                          查看菜谱
                        </a>
                      </div>
                      <div class="col-10"></div>
                    </div>
                  </li>
                </ul>
              </div>


            </div>  
          </div>
        </div>
        <!-- Bottom Toolbar-->
       
      </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
    <script type="text/javascript" src="js/jquery-2.2.2.js"></script>
  </body>
</html> 