<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>MYAPP</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Views -->
    <div class="views">
      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="menu-list.html" class="external grayLeft">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </a>
            </div>
            <div class="right">
              <a href="#" data-picker=".picker-1" class="open-picker" id="picker1">
                <i class="fa fa-share-alt" id="link" aria-hidden="true" style="padding-right:30px"></i>
              </a>
              <i class="fa fa-ellipsis-v" id="more" aria-hidden="true" style="padding-right:10px"></i>
            </div>
          </div>
        </div>
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- 闹钟弹出层 -->
          <div id="pop">
            <h3 style="text-align:center">时间到！</h3>
            <p><a href="#" id="ok" class="button color-gray">确定</a></p>
          </div>
          <!-- Page, "data-page" contains page name -->
          <div data-page="menu-content" class="page">
            <!-- Scrollable page content -->
            <div class="page-content">
              <!-- 菜谱banner图 -->
              <div class="row">
                <img src="images/menucontent1.jpg" width="100%" class="contentImg">
              </div>
              <!-- 菜谱内容 -->
              <h2 class="contentTitle">鱼香白菜</h2>
              <p class="ppp">用料 ： </p>
              <ul class="list-block" style="list-style:none;padding-left:1%;margin:1% 0;"><!--用料列表，多选框-->
                <!-- Single chekbox item -->
                <li> 
                  <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input type="checkbox" name="my-checkbox" value="cabbage" checked="checked">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title">白菜帮</div>
                      <div class="col-40 level">500g</div>
                    </div>
                  </label>
                </li>
                <!-- Another chekbox item -->
                <li>
                  <label class="label-checkbox item-content">
                    <input type="checkbox" name="my-checkbox" value="lajiao">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title">泡红辣椒</div>
                      <div class="col-40 level">4个</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="label-checkbox item-content">
                    <input type="checkbox" name="my-checkbox" value="lajiao">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title ">泡红辣椒</div>
                      <div class="col-40 level">4个</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="label-checkbox item-content">
                    <input type="checkbox" name="my-checkbox" value="lajiao">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title">泡红辣椒</div>
                      <div class="col-40 level">4个</div>
                    </div>
                  </label>
                </li>
                <!-- Another chekbox item -->
                <li>
                  <label class="label-checkbox item-content">
                    <input type="checkbox" name="my-checkbox" value="jiang">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title">泡姜</div>
                      <div class="col-40 level">1块</div>
                    </div>
                  </label>
                </li>
                <!-- Another chekbox item -->
                <li>
                  <label class="label-checkbox item-content">
                    <input type="checkbox" name="my-checkbox" value="suan">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title">蒜末</div>
                      <div class="col-40 level">1大勺</div>
                    </div>
                  </label>
                </li>
                <!-- Another chekbox item -->
                <li>
                  <label class="label-checkbox item-content">
                    <input type="checkbox" name="my-checkbox" value="cong">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title ">葱末</div>
                      <div class="col-40 level">1大勺</div>
                    </div>
                  </label>
                </li>
                <li> 
                  <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input type="checkbox" name="my-checkbox" value="ccc">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner row">
                      <div class="col-60 item-title">水</div>
                      <div class="col-40 level">500g</div>
                    </div>
                  </label>
                </li>
              </ul><!--用料end-->
              <div class="row" style="padding-top:1%">
                <div class="col-50"></div>
                <div class="col-40">
                  <a href="make-order.html" class="external button button-round color-red">
                    购买
                  </a>
                </div>
                <div class="col-5"></div>
              </div>
              <div class="row">
                <div class="col-40"><p class="ppp">做法 ： </p></div>
                <div class="col-50">
                  <p style="padding-top:5%;"><a href="menu-steps.html" class="external grayLink">(点击切换大图模式)</a></p>
                </div>
                <div class="col-10"></div>
              </div>
              <div class="row">
                <div class="col-5"></div>
                <div class="col-5 orderNum">1</div>
                <div class="col-90 stepContent">
                  把白菜帮斜刀片成大片状以备使用；
                </div>
                <a href="menu-steps.html" class="external menuImgA"><img src="images/menucontent1.jpg" width="80%" class="menuImg"></a>
              </div>
              <div class="row">
                <div class="col-5"></div>
                <div class="col-5 orderNum">2</div>
                <div class="col-90 stepContent">
                  泡红椒切碎、泡姜葱蒜切末，豆瓣酱剁细备用；
                </div>
                <a href="menu-steps.html" class="external menuImgA"><img src="images/menucontent1.jpg" width="80%" class="menuImg"></a>
              </div>
              <div class="row">
                <div class="col-5"></div>
                <div class="col-5 orderNum">3</div>
                <div class="col-90 stepContent">
                  小火慢炖10分钟；
                  <a href="#" class="button button-round button-fill timekeeper" id="timeKeep">开始计时</a>
                </div>
                <a href="menu-steps.html" class="external menuImgA"><img src="images/menucontent1.jpg" width="80%" class="menuImg"></a>
              </div>
              <div class="row">
                <div class="col-5"></div>
                <div class="col-5 orderNum">4</div>
                <div class="col-90 stepContent">
                  泡红椒切碎、泡姜葱蒜切末，豆瓣酱剁细备用；
                </div>
                <a href="menu-steps.html" class="external menuImgA"><img src="images/menucontent1.jpg" width="80%" class="menuImg"></a>
              </div>
              <div class="row">
                <div class="col-5"></div>
                <div class="col-5 orderNum">5</div>
                <div class="col-90 stepContent">
                  泡红椒切碎、泡姜葱蒜切末，豆瓣酱剁细备用；盖上锅盖焖5分钟再出锅，完成！
                  <a href="#" class="button button-round button-fill timekeeper" id="timeKeep">开始计时</a>
                </div>
                <a href="menu-steps.html" class="external menuImgA"><img src="images/menucontent1.jpg" width="80%" class="menuImg"></a>
              </div>              
            </div>  
          </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
          <div class="toolbar-inner row">
            <div class="col-5"></div>
            <div class="col-20">
              <a href="#" id="thumbs"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;&nbsp;赞</a>
            </div>
            <div class="col-30">
              <a href="#" id="heart"><i class="fa fa-heart-o" aria-hidden="true" id="heart"></i>&nbsp;&nbsp;收藏</a>
            </div>
            <div class="col-40"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Picker -->
    <div class="picker-modal picker-1" style="background-color:white;height:60%">
      <div class="toolbar">
        <div class="toolbar-inner">
          <div class="left"></div>
          <div class="right" id="cancel"><a href="#" class="close-picker">取消</a></div>
        </div>
      </div>
      <div class="picker-modal-inner pickerInner">
        <div class="content-block">
          <div class="row">
            <div class="col-25">
              <img src="images/fa.png" width="50%">
              <p>转发</p>
            </div>
            <div class="col-25">
              <img src="images/link.png" width="50%">
              <p>复制链接</p>
            </div>
            <div class="col-25">
              <img src="images/qq.png" width="50%">
              <p>发送给QQ好友</p>
            </div>
            <div class="col-25">
              <img src="images/kj.png" width="50%">
              <p>发送到QQ空间</p>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <img src="images/weibo.png" width="50%">
              <p>发送到微博</p>
            </div>
            <div class="col-25">
              <img src="images/weixin.png" width="50%">
              <p>发送给微信好友</p>
            </div>
            <div class="col-25">
              <img src="images/pyq.png" width="50%">
              <p>发送到朋友圈</p>
            </div>
            <div class="col-25">
              <img src="images/error.png" width="50%">
              <p>投诉</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
    <script type="text/javascript" src="js/jquery-2.2.2.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        //实现菜谱banner图
        var imgWidth = $(".contentImg").width();
        $(".contentImg").height(imgWidth*0.5);

        var menuImg = $(".menuImgA .menuImg").width();
        $(".menuImgA .menuImg").height(menuImg*0.6);
        //实现点赞收藏效果
        $("#thumbs").click(function(){
          var icon = $("#thumbs i").attr("class");
          if(icon == "fa fa-thumbs-o-up"){
            $("#thumbs i").attr("class","fa fa-thumbs-up");
          }
          if(icon == "fa fa-thumbs-up"){
            $("#thumbs i").attr("class","fa fa-thumbs-o-up");
          }
        });
        $("#heart").click(function(){
          var icon = $("#heart i").attr("class");
          if(icon == "fa fa-heart-o"){
            $("#heart i").attr("class","fa fa-heart");
          }
          if(icon == "fa fa-heart"){
            $("#heart i").attr("class","fa fa-heart-o");
          }
        });   
        // 闹钟
        var intervalId = null;
        var intDiff = parseInt(3);//倒计时总秒数量,获取闹钟总秒数
        $(".timekeeper").click(function(){
          var btn = $(this);
          if(btn.html() =="开始计时"){
            function timer(intDiff){
              intervalId = window.setInterval(function(){
                if (intDiff<=0) {
                  //添加音频，闹钟铃声
                  $("#pop").append('<audio id="audios"  loop="loop" autoplay="autoplay" hidden="true"><source src="images/clock.mp3" type="audio/mpeg"><source src="images/2.ogg" type="audio/ogg"></audio>');
                  $("#pop").css("visibility","visible");  //弹出框显示
                  //点击弹出框确认事件
                  $("#ok").click(function(){
                    $('#audios').remove();  //移除声音
                    $("#pop").css("visibility","hidden");  //弹出框隐藏
                    btn.html("开始计时");
                    clearInterval(intervalId);
                  });
                  clearInterval(intervalId);
                };
                var day=0,
                    hour=0,
                    minute=0,
                    second=0;//时间默认值        
                if(intDiff > 0){
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                }
                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                btn.html(hour+":"+minute+":"+second);  //显示倒计时时间
                intDiff--;    
              }, 1000);
            } 
            $(function(){
                timer(intDiff);
            }); 
          }
          else{
            btn.html("开始计时");
            clearInterval(intervalId);
          }
        });
      });
    </script>
  </body>
</html> 