<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Path to Font-awesome Library CSS-->
  <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css">
  <!-- Path to Framework7 Library CSS-->
  <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.min.css">
  <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.colors.min.css">
  <!-- Path to your custom app styles-->
  <link rel="stylesheet" href="__PUBLIC__/front/css/style.css">
</head>
<body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
		<!-- Views-->
		<div class="views">
		    <!-- Your main view, should have "view-main" class-->
		    <div class="view view-main">
	      		<div class="page">
				  <div class="navbar transparentNav">
				    <div class="navbar-inner">
				        <div class="left">
			        	<!-- Left link contains only icon - additional "icon-only" class--><a href="__MODULE__/Nearby/lists" data-popover=".popover-links" class="external link icon-only open-popover"> <i class="whiteColor icon fa fa-arrow-left"></i></a>
			      		</div>
			      		<div class="right">
			        	<!-- Right link contains only icon - additional "icon-only" class--><a href="#" data-popover=".popover-links" class="external link icon-only open-popover"> <i class="whiteColor icon fa fa-share-alt"></i></a>
			      		</div>
				    </div>
				  </div>
				  <!-- "hide-bars-on-scroll" class to hide both Navbar and Toolbar -->
				  <div class="page-content hide-bars-on-scroll">
				  	<img src="__PUBLIC__/uploads/article/2.jpg" style="width:100%">
				  	<div class="card facebook-card">
				  		<div class="card-header">
			                <div class="fb">
			                  <div class="facebook-avatar"><img src="__PUBLIC__/uploads/avatar/4.jpg"></div>
			                  <div class="facebook-name">刘能</div>
			                  <div class="facebook-date">2016-12-23</div>
			                </div>
			                <a href="#" class="button followBtn">关注</a>
		             	</div>
		            </div>
				    <div class="content-block">
				    	<p class="textCenter font18" style="font-weight: bolder;">没有烤箱也可以做面包</p>
				    	<p>1、把鸡蛋蛋黄与蛋白分开分别放入两个大碗中（这种方法能缩短搅打时间，适合于手动搅拌器）；</p>
        				<p>2、糖1/3放入蛋黄中，2/3放入蛋白中；</p>
						<p>3、搅打蛋黄搅成淡黄色即可（一般搅1分钟就行了）；</p>
						<p>4、搅打蛋白搅成象奶油状（打到蛋白在手尖中能力起来，这个时间可要长喽，打到碗中没有蛋液为止，这个步骤直接取决于蛋糕的质量，如果碗中还有蛋液会使蛋糕胀不起来，而成为蛋饼）；</p>
						<p>5、将面粉（筛过）放入到蛋黄中，轻轻搅均（搅拌过猛会使面产生筋度，影响蛋糕质量），搅完后你会发现面都团到一起（不用加水）；
						<p>6、将蛋白放入到5中搅均（不能用搅拌器，方法是用手从碗的底部向上捞，重复几次后转动方向，大约2分钟后，你会发现5中的面团跟被蛋白变成一种糊状，这时就差不多了）；</p>
						<p>7、蛋浆准备好后，就可以在电饭煲里面抹上一层油，把蛋浆倒进去。盖上盖子，按电饭锅“煮饭”按钮，不知道为什么约5分钟左右就跳到保温了，等了2-3分钟，再按了一次煮饭，几分钟后又跳了，这个时候就可以闻到一股香味，打开盖子，表面是浅黄色的，比原来长高了一点，用筷子戳一下，如果戳得进去，并且筷子没有粘蛋浆，就表示可以了。拿出锅，翻转，就可以弄下来，底部应该有点深色；</p>
						<p>8、放凉后，可以用鲜奶油等进行装饰。如果直接食用也很OK！</p>
				    </div>
				  </div>
				</div>
	      	</div>
    	</div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="__PUBLIC__/front/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="__PUBLIC__/front/js/my-app.js"></script>
</body>
</html>