<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>NearBy</title>
  <!-- Path to Font-awesome Library CSS-->
  <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css">
  <!-- Path to Framework7 Library CSS-->
  <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.min.css">
  <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.colors.min.css">
  <!-- Path to your custom app styles-->
  <link rel="stylesheet" href="__PUBLIC__/front/css/style.css">
</head>
<body>
  <!-- Status bar overlay for fullscreen mode-->
  <div class="statusbar-overlay"></div>
  <!-- Views-->
  <div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
      <!-- Top Navbar-->
      <div class="navbar redBGColor">
        <div class="navbar-inner">
          <!-- We have home navbar without left link-->
          <div class="center sliding whiteColor">附近</div>
          <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" data-popover=".popover-links" class="link icon-only open-popover"> <i class="icon fa fa-plus whiteColor"></i></a>
          </div>
        </div>
      </div>
      <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-through toolbar-through">
        <!-- Page, data-page contains page name-->
        <div data-page="index" class="page">
          <!-- Scrollable page content-->
          <div class="page-content">
            <div class="card facebook-card">
              <div class="card-header">
                <div class="fb">
                  <div class="facebook-avatar"><img src="__PUBLIC__/front/images/p001_70.jpg"></div>
                  <div class="facebook-name">万达少掌门</div>
                  <div class="facebook-date">Monday at 2:15 PM</div>
                </div>
                <a href="#" class="button followBtn">关注</a>
              </div>
              <div class="card-content">
                <div class="card-content-inner">
                  <a href="__MODULE__/Nearby/content" class="cardLink external">
                    <h3>鹌鹑如何吃更有营养</h3>
                    <p>鹌鹑既有鲜美的味道,又有着丰富的营养。鹌鹑肉中富含蛋白质,含量高达22.2%,另外还含有多种维生素和矿物质,以及卵磷脂、激素和多种人体所必需的氨基酸。</p>
                    <img src="__PUBLIC__/front/images/001_70.jpg" width="100%">
                  </a>
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="link"><i class="icon fa fa-heart-o"> 112</i></a>
                <a href="#" class="link"><i class="icon fa fa-commenting-o"> 24</i></a>
                <a href="#" class="link"><i class="icon fa fa-share-square-o"> 152</i></a>
              </div>
            </div>
            <div class="card facebook-card">
              <div class="card-header">
                <div class="fb">
                  <div class="facebook-avatar"><img src="__PUBLIC__/front/images/p001_70.jpg"></div>
                  <div class="facebook-name">万达少掌门</div>
                  <div class="facebook-date">Monday at 2:15 PM</div>
                </div>
                <a href="#" class="button followBtn">关注</a>
              </div>
              <div class="card-content">
                <div class="card-content-inner">
                  <a href="__MODULE__/Nearby/content" class="cardLink external">
                    <h3>鹌鹑如何吃更有营养</h3>
                    <p>鹌鹑既有鲜美的味道,又有着丰富的营养。鹌鹑肉中富含蛋白质,含量高达22.2%,另外还含有多种维生素和矿物质,以及卵磷脂、激素和多种人体所必需的氨基酸。</p>
                    <img src="__PUBLIC__/front/images/001_70.jpg" width="100%">
                  </a>
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="link"><i class="icon fa fa-heart-o"> 112</i></a>
                <a href="#" class="link"><i class="icon fa fa-commenting-o"> 24</i></a>
                <a href="#" class="link"><i class="icon fa fa-share-square-o"> 152</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom Toolbar-->
      <div class="toolbar">
        <div class="toolbar-inner">
          <a href="__MODULE__/Index/index" class="external tab-link greyColor">
            <i class="icon fa fa-home font20"></i>
            <span class="tabbar-label font11">主页</span>
          </a>
          <a href="__MODULE__/Video/lists" class="external tab-link greyColor">
            <i class="icon fa fa-video-camera font16"></i>
            <span class="tabbar-label font11">直播间</span>
          </a>
          <a href="__MODULE__/Nowait/requestlist" class="external tab-link greyColor">
            <i class="icon fa fa-shopping-bag font16"></i>
            <span class="tabbar-label font11">不等袋</span>
          </a>
          <a href="__MODULE__/Nearby/lists" class="external tab-link redColor">
            <i class="icon fa fa-map-signs font16"></i>
            <span class="tabbar-label font11">附近</span>
          </a>
          <a href="__MODULE__/Me/index" class="external tab-link greyColor">
            <i class="icon fa fa-user font16"></i>
            <span class="tabbar-label font11">我</span>
          </a>
        </div>
      </div><!-- toolbar end -->
    </div>
  </div>
  <!-- Links popover -->
  <div class="popover popover-links">
    <div class="popover-angle"></div>
    <div class="popover-inner">
      <div class="list-block">
        <ul>
          <li><a href="__MODULE__/Nearby/essayedit" class="external list-button item-link">写文章</a></li>
          <li><a href="__MODULE__/Nearby/dynamicedit" class="external list-button item-link">发动态</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Path to Framework7 Library JS-->
  <script type="text/javascript" src="__PUBLIC__/front/js/framework7.min.js"></script>
  <!-- Path to your app js-->
  <script type="text/javascript" src="__PUBLIC__/front/js/my-app.js"></script>
 </body>
</html>