/* 添加/编辑菜谱页 */
.addAndRemove{
	padding-top: 5px;
}
.Center{
	text-align: center;
}

/* 菜谱列表页 */
.hr-line-dashed{	
	/*
	**修改原代码，将border-top修改成border-bottom
	**当给分割线设置高度时有变化
	*/	
	border-top: none;
	border-bottom: 1px dashed #e7eaec;
}
.clearFloat{
	clear: both;
}
.padding{
	height: 50px;
}
.paddingTop{
	padding-top: 30px;
}
.checkBox{
	float: left;
	position:relative;
	top: -2px;
	padding-right: 20px;
}
.menuTags{
	color: #23b7e5;
	padding-left: 20px;
	padding-top: 4px;
}
.menuTitle{
	font: 25px "微软雅黑";
	color: #ccc;
	text-align: center;
}
.menuProcedure p{
	font-size: 15px;
}
.menuProcedure img{
	width: 100%;
}
.steps{
	color: #959595;
	font-size: 40px;
	font-style: italic;
	padding-top: 15px;
}

.btn-upload {
  width: 106px;
  height: 32px;
  position: relative;
  margin-bottom: 10px;
}
.btn-upload a {
  display: block;
  width: 104px;
  line-height: 18px;
  padding: 6px 0;
  text-align: center;
  color: #4c4c4c;
  background: #fff;
  border: 1px solid #cecece;
}
.btn-upload input {
  width: 106px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
.icon-upload {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../../back/img/icons.png) -78px 0 no-repeat;
  vertical-align: middle;
  margin-right: 5px;
  background-position: -144px -24px;
}